
html, 
body {
    height: 100%;
}


.CodeMirror {
    background:#222;
    color:white;
    height:100%;
}
.CodeMirror-activeline-background {background: #333;}
.CodeMirror-gutters {
    border-right: 1px solid #444;
    background-color: #333;
    white-space: nowrap;
}
.CodeMirror-linenumber {
    padding: 0 5px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}
.CodeMirror-cursor {
    border-left: 1px solid white;
    border-right: none;
    width: 0;
}

.CodeMirror-lines {
    padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    padding: 0 16px; /* Horizontal padding of content */
}

.cm-s-default .cm-normal  {color: #FFF;}
.cm-s-default .cm-number  {color: #e663a7;}
.cm-s-default .cm-string  {color: #ff9900;}
.cm-s-default .cm-keyword {color: #ffe100;}
.cm-s-default .cm-par     {color: #6dc9ff;}
.cm-s-default .cm-comment {color: #888;}
.cm-s-default .cm-type    {color: #78dfb9;}
.cm-s-default .cm-generic {color: #d9ff04;}
.cm-s-default .cm-dot     {color: #FF0000;}

.cm-s-default .cm-bitwise {color:#6dc9ff;}

/* .cm-s-default .cm-let     {color:#6dc9ff;}
.cm-s-default .cm-std     {color:#ffe100;} */
.cm-s-default .cm-let     {color:#ffe100;}
.cm-s-default .cm-std     {color:#6dc9ff;}

.cm-s-default .cm-sad     {background:red; color:white;}


/* .cm-s-default .cm-let     {color:white; background:#444;} */

/* .cm-s-default .cm-comma   {color:transparent;} */

.cm-s-default .cm-comma   {color:#FFF; opacity: 45%;}


.cm-s-default .cm-excess  {background: #FFF; opacity: 10%;}
.cm-s-default .cm-tab     {background: #F00; opacity:20%;}
.cm-s-default .cm-evil    {color: #FF0000;}
.cm-s-default .cm-banned  {background: #FF0000; color:black}


div.CodeMirror span.CodeMirror-matchingbracket {background:#555; color:white }
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #F00;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }

.CodeMirror-focused .CodeMirror-selected { background: #444; }

/* .cm-s-default .cm-matchhighlight { text-decoration:underline } */
.cm-s-default .cm-matchhighlight { background:#555 }
